
@{
    ViewData["Title"] = "Aufgabe";
}

<h1>Aufgabenstellung</h1>

<p>
    1. Javascript: <br /><br />

    Geben Sie neben dem Footer für jede Seite die Uhrzeit aus. <br />
    Dieser Zeitstempel soll sich jede Sekunde über Javascript selbstständig neu anzeigen. <br />
    <code> © 2022 - WebAppCoreBBRZ - Privacy - Registered users: 0 - Logged Out - <b>10:22:20</b></code>
</p>

<p>
    2. Admin - Users: <br /><br />

    Geben Sie als Menü zusätzlich einen <code>Admin</code> Punkt an. <br />
    Wenn dieser gedrückt wird, soll die Liste aller User ausgegeben werden. <br />
    Löschen Sie den Punkt <code>Create</code> raus, da er ja in "Register" schon realisiert wurde. <br />
    Implementieren Sie die <code>Edit</code>, <code> Details </code>, und die <code>Delete</code> Sektion <br />
    Lassen Sie nicht zu, dass das Passwort am Bildschirm angezeigt, und verändert werden kann. 

</p>

<p>
    3. User logged in - Sichtbarkeiten: <br /><br />

    Geben Sie den Menüpunkt <code>Admin</code> nur aus, wenn die User eingeloggt sind. <br />
    Stellen sie zusätzlich sicher, dass auch die Action nicht über die Url adressierbar ist,  <br />  
    Da ja der User das Menü nicht braucht, und nur über die URL selbst die Action erreichen kann, <br />
    bauen sie in der Action selbst einen Check ein, ob der User eingeloggt ist, ansonst <br />
    Ansonst -> <code> RedirectToAction -> Home / Index </code>
</p>

<p>
    4. Selbststudium <br /><br />

    Gehen Sie den bestehenden Code durch, debuggen Sie ihn und versuchen Sie den Ablauf komplett zu verinnerlichen. <br />

</p>

<p>
    5. Admin - Role: (Zusatzaufgabe für die Profis ;) <br /><br />

    Wir haben das Model bereits durch die Role erweitert. <br />
    Stellen Sie sicher, dass NUR der erste User ein <code>Admin</code> ist, <br />
    Die weiteren registrierten "User", dürfen dann in der Admin User Liste <code> Menüpunkt Admin</code><br />
    Nur ihren eigenen Eintrag sehen, während die Admins alle User ausgeben, editieren können. <br />
</p>


<p> Versuchen Sie am Montag, die Aufgaben weitgehends alleine zu lösen. Helfen Sie sich anschließend im 2er Team <br />
und versuchen Sie die Aufgaben bis Dienstag 1220h zu lösen. </p>

<h4>Viel Spass und viel Erfolg</h4>


